/* Navbar Area */
.m-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.m-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #24a799;
  height: 60px;
}

.m-nav-logo {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  flex: 1;
}

.m-nav-logo .logo {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}

.m-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 10;
  height: 60px;
}

.m-left {
  margin-left: 60px;
  flex-grow: 4;
  height: 60px;
  display: flex;
  align-items: center;
}

.m-right {
  flex-grow: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.m-menu {
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}

.m-menu-li {
  flex-grow: 1;
  text-align: center;
  height: 73px;
  padding: 25px;
}

.m-menu-li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.m-menu-li a i {
  margin-right: 10px;
}

.m-menu-li:first-child {
  margin-right: 20px;
  margin-left: 0;
}
.m-menu-li:last-child {
  margin-right: 20px;
}

.m-menu-li:hover {
  background-color: #0e4d46;
}

/* Content Sidebar Area */

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #122d39;
}

.sidebar {
  width: 12%;
  height: 100vh;
  background-color: #222d32;
}

.sidebar-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sidebar-item-header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #1a2226;
}

.sidebar-item-header-title {
  color: rgb(176, 170, 170);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.sidebar-item-body {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #222d32;
}

.sidebar-item-body-list {
  list-style: none;
}

.sidebar-item-body-list-item {
  width: 225.59px;
  height: 50px;
  display: block;
  margin-left: -43px;
  text-align: center;
  background-color: #222d32;
  padding: 10px;
}

.sidebar-item-body-list-item:hover {
  background-color: #294552;
}

.sidebar-item-body-list-item a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

.main-content {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;
}

/* Content CSS */

.col-md-12 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
}
.col-md-12 p {
  font-weight: bold;
  color: rgb(197, 11, 11);
}

.col-md-12 h1 {
  margin-top: 5px;
  font-weight: bolder;
  color: rgb(10, 169, 10);
}

.ayah {
  width: 100%;
  border: 1px solid rgb(89, 8, 8);
  padding: 10px;
  margin-bottom: 10px;
}

.ayah-text {
  width: 100%;
  font-size: 24px;
  text-align: right;
  color: greenyellow;
}

.ayah-text-bengali {
  width: 100%;
  font-size: 20px;
  text-align: left;
  color: green;
}

.ayah-id-bengali {
  width: 100%;
  font-size: 16px;
  text-align: right;
  color: rgb(89, 8, 8);
}


.ayah-id {
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: rgb(89, 8, 8);
}